@import "~@fortawesome/fontawesome-free/css/all.css";

@font-face {
  font-family: "CustomFont";
  src: url("@/assets/coolvetica.otf") format("opentype");
}

body {
  font-family: "CustomFont", sans-serif !important;
  background-color: var(--background) !important;
  color: var(--blackwhite) !important;
  transition: all 0.75s ease-in-out;
}

:root {
  --background: #f6f0e0;
  --primary: #67cec0;
  --primary-light: #63d0bc;
  --primary-dark: #45a69c;
  --secondary: #6c757d;
  --secondary-light: #d6d8db;
  --secondary-dark: #545b62;
  --blackwhite: #05384b;
  --blackwhite-light: #f8f9fa;
  --blackwhite-dark: #212529;
  --success: #28a745;
  --success-light: #d4edda;
  --success-dark: #218838;
  --danger: #dc3545;
  --danger-light: #f8d7da;
  --danger-dark: #c82333;
  --warning: #ffc107;
  --warning-light: #ffecb5;
  --warning-dark: #ffab00;
  --info: #17a2b8;
  --info-light: #a3d8e8;
  --info-dark: #117a8b;
  --link: #007bff;
  --link-light: #cfe2ff;
  --link-dark: #0056b3;
  --light: #f8f9fa;
  --light-dark: #dae0e5;
  --dark: #343a40;
  --dark-light: #d6d8db;
}

[theme="dark"] {
  --background: #05384b;
  --blackwhite: #f6f0e0;
  --warning: #ffca2c;
  --warning-light: #fff3c4;
  --warning-dark: #ffbb00;
}

@function get-css-var($name) {
  @return unquote("var(--#{$name})");
}

@mixin hover-effect($background-color, $text-color) {
  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 50%;
    width: 200%;
    height: 400%;
    background-color: $background-color;
    border-radius: 40%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.75s ease-in-out;
    z-index: -1;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &:hover {
    color: $text-color !important;
    border: 2px solid $background-color !important;
    box-shadow: inset 0 0 0 1px $background-color !important;
  }
}

.round-btn {
  border-radius: 100% !important;
}

button {
  border-radius: 25px !important;
}

.btn {
  transition: all 0.75s ease-in-out !important;
}

.btn:focus {
  outline: none !important;
  scale: 1.05;
}

@mixin dynamic-colors($color-name, $color-value) {
  .btn-#{$color-name} {
    position: relative;
    background-color: $color-value !important;
    $dark-color: get-css-var("#{$color-name}-dark");
    color: white !important;
    overflow: hidden;
    z-index: 1;
    border: 2px solid $color-value !important;
    box-shadow: inset 0 0 0 1px $color-value !important;

    @include hover-effect($dark-color, rgba(255, 255, 255, 0.75));
  }

  .btn-light-#{$color-name} {
    position: relative;
    $light-color: get-css-var("#{$color-name}-light");
    background-color: $light-color !important;
    $dark-color: get-css-var("#{$color-name}-dark");
    color: $dark-color !important;
    overflow: hidden;
    z-index: 1;
    border: 2px solid $color-value !important;
    box-shadow: inset 0 0 0 1px $color-value !important;

    @include hover-effect($dark-color, #fff);
  }

  .btn-outline-#{$color-name} {
    position: relative;
    background-color: transparent !important;
    color: $color-value !important;
    overflow: hidden;
    z-index: 1;
    border: 2px solid $color-value !important;
    box-shadow: inset 0 0 0 1px $color-value !important;

    @include hover-effect($color-value, #fff);
  }
}

@include dynamic-colors(primary, var(--primary));
@include dynamic-colors(secondary, var(--secondary));
@include dynamic-colors(blackwhite, var(--blackwhite));
@include dynamic-colors(warning, var(--warning));
@include dynamic-colors(danger, var(--danger));
@include dynamic-colors(success, var(--success));
@include dynamic-colors(info, var(--info));
@include dynamic-colors(link, var(--link));

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: var(--light);
  padding: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: #333;
}

img {
  user-select: none;
}
