@import "~@fortawesome/fontawesome-free/css/all.css";

// Custom Font
@font-face {
  font-family: "CustomFont";
  src: url("@/assets/coolvetica.otf") format("opentype");
}

// Base Styles
body {
  font-family: "CustomFont", sans-serif !important;
  background-color: var(--background) !important;
  color: var(--text) !important;
  transition: all 0.75s ease-in-out;
}

::selection {
  background-color: var(--text) !important;
  color: var(--background) !important;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-right: 1px solid var(--background);
  background: var(--text);
  border-radius: 10px;
  transition: 1s;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--black);
}

img {
  user-select: none;
}

hr {
  height: 2px !important;
  background-color: var(--text) !important;
  margin: 5px 0 !important;
}

.modal-card-head {
  background-color: var(--background) !important;
}

// Colors
:root {
  --background: #f6f0e0;
  --text: #05384b;
  --beige: #f6f0e0;
  --dark-blue: #05384b;
  --white: #eee;
  --black: #191919;
  --primary: #67cec0;
  --primary-light: #9dd7d1;
  --primary-dark: #45a69c;
  --secondary: #6c757d;
  --secondary-light: #d6d8db;
  --secondary-dark: #545b62;
  --blackwhite: #191919;
  --blackwhite-light: #f8f9fa;
  --blackwhite-dark: #343a40;
  --success: #28a745;
  --success-light: #d4edda;
  --success-dark: #218838;
  --danger: #e05854;
  --danger-light: #f8d7da;
  --danger-dark: #c82333;
  --warning: #ffc107;
  --warning-light: #ffecb5;
  --warning-dark: #ffab00;
  --info: #17a2b8;
  --info-light: #a3d8e8;
  --info-dark: #117a8b;
  --link: #007bff;
  --link-light: #cfe2ff;
  --link-dark: #0056b3;
  --light: #f8f9fa;
  --light-dark: #dae0e5;
  --dark: #343a40;
  --dark-light: #d6d8db;
  --theme: #ffab00;
}

[theme="dark"] {
  --background: #05384b;
  --text: #f6f0e0;
  --primary: #43a19a;
  --theme: #378ae2;
}

// Buttons
.btn {
  border-radius: 25px !important;
  transition: all 0.75s ease-in-out !important;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn-round {
  border-radius: 100% !important;
}

@function get-css-var($name) {
  @return unquote("var(--#{$name})");
}

@mixin hover-effect($background-color, $text-color) {
  &::before {
    content: "";
    position: absolute;
    top: -50%;
    left: 50%;
    width: 200%;
    height: 400%;
    background-color: $background-color;
    border-radius: 40%;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.75s ease-in-out;
    z-index: -1;
  }

  &:hover::before {
    transform: translate(-50%, -50%) scale(1);
  }

  &:hover {
    color: $text-color !important;
    border: 2px solid $background-color !important;
    box-shadow: inset 0 0 0 1px $background-color !important;
  }

  &:focus {
    box-shadow: inset 0 0 0 1px $background-color, 0 0 5px 1px $background-color !important;
  }
}

@mixin dynamic-colors($color-name, $color-value) {
  .btn-#{$color-name} {
    background-color: $color-value !important;
    $dark-color: get-css-var("#{$color-name}-dark");
    color: var(--white) !important;
    border: 2px solid $color-value !important;
    box-shadow: inset 0 0 0 1px $color-value !important;

    @include hover-effect($dark-color, var(--white));
  }

  .btn-light-#{$color-name} {
    $light-color: get-css-var("#{$color-name}-light");
    background-color: $light-color !important;
    $dark-color: get-css-var("#{$color-name}-dark");
    color: $dark-color !important;
    border: 2px solid $color-value !important;
    box-shadow: inset 0 0 0 1px $color-value !important;

    @include hover-effect($dark-color, var(--white));
  }

  .btn-outline-#{$color-name} {
    background-color: var(--beige) !important;
    color: $color-value !important;
    border: 2px solid $color-value !important;
    box-shadow: inset 0 0 0 1px $color-value !important;

    @include hover-effect($color-value, var(--white));
  }
}

$button-colors: (
  primary: var(--primary),
  secondary: var(--secondary),
  blackwhite: var(--blackwhite),
  warning: var(--warning),
  danger: var(--danger),
  success: var(--success),
  info: var(--info),
  link: var(--link),
  theme: var(--theme),
);

@each $color-name, $color-value in $button-colors {
  @include dynamic-colors($color-name, $color-value);
}
